<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>add new bike</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'styles.css') }}">
</head>
<body>
    <div class="root"></div>
        <form action="" method="post">
            <div class="mb_2">
                <label for="" class="label">Model</label>
                <input type="text" name="model"> <br>
            </div>
            <div class="mb_2">
                <label for="" class="label">Daily</label>
                <input type="text" name="daily"> <br>
            </div>
            <div class="mb_2"> 
                <label for="" class="label">Image</label>
                <input type="text" name="image"> <br>
            </div>
            <div class="mb_2">
                <label for="" class="label">Year</label>
                <input type="text" name="year"> <br>
            </div>
            <button id="btn_submit">Submit</button>
        </form>
    </div>
</body>
</html>