#root {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content:center; 
    align-items: center;


}
html,body {
    height: 100%;
}

.mb_2{
    margin-bottom: 16px;
}
.form_label{
    min-width: 120px;
    display: inline-block;
}
input {
    border-radius: 3px;
    border:  solid 1px #3b3daf;
    font-size: 1.1rem;

}
